@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --rubik:'Rubik', sans-serif;
    --red:#ec2c22;
}

.rubik{
    font-family: var(--rubik) !important;
}
.redColor{
    color: var(--red) !important;
}
.nav-link{
    color: #000 !important;
}
.nav-link:hover{
    color: var(--red) !important;
}